[submodule "electron"]
	path = electron
	url = git@github.com:koromerzhin/template-electron.git
[submodule "django"]
	path = django
	url = git@github.com:koromerzhin/template-django.git
[submodule "vuejs"]
	path = vuejs
	url = git@github.com:koromerzhin/template-vuejs.git
[submodule "symfony"]
	path = symfony
	url = git@github.com:koromerzhin/template-symfony.git
[submodule "react"]
	path = react
	url = git@github.com:koromerzhin/template-react.git
[submodule "angular"]
	path = angular
	url = git@github.com:koromerzhin/template-angular.git
[submodule "github"]
	path = github
	url = git@github.com:koromerzhin/template-github.git
[submodule "phpfpm"]
	path = phpfpm
	url = git@github.com:koromerzhin/template-phpfpm.git
[submodule "quasar"]
	path = quasar
	url = git@github.com:koromerzhin/template-quasar.git
[submodule "flutter"]
	path = flutter
	url = git@github.com:koromerzhin/template-flutter.git
[submodule "laravel"]
	path = laravel
	url = git@github.com:koromerzhin/template-laravel.git
[submodule "wordpress"]
	path = wordpress
	url = git@github.com:koromerzhin/template-wordpress.git
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:koromerzhin/template-jenkins
[submodule "redmine"]
	path = redmine
	url = git@github.com:koromerzhin/template-redmine.git
[submodule "nextcloud"]
	path = nextcloud
	url = git@github.com:koromerzhin/template-nextcloud.git
[submodule "drupal"]
	path = drupal
	url = git@github.com:koromerzhin/template-drupal.git
[submodule "keycloak"]
	path = keycloak
	url = git@github.com:koromerzhin/template-keycloak.git
[submodule "joomla"]
	path = joomla
	url = git@github.com:koromerzhin/template-joomla.git
[submodule "expressjs"]
	path = expressjs
	url = git@github.com:koromerzhin/template-expressjs.git
[submodule "sveltejs"]
	path = sveltejs
	url = git@github.com:koromerzhin/template-sveltejs.git
[submodule "socketio"]
	path = socketio
	url = git@github.com:koromerzhin/template-socketio.git
